.htaccess
node_modules
log
dist
.DS_Store
.idea/*
application
webpack.config-router-main.js
router-gray.php
router.php
.ftpquota
favicon.ico
logs/
npm-debug.log
webApp.bk/


*.cache
*.log

.tern-project
.sftprc

jsconfig.json
.vscode

router
.sshkey

cypress/.config.js
cypress/.config.prod.js

src/components/myComponents
genPage.sh
