{
    "presets": [
      [
        "@babel/preset-env",
        {
          "modules": false,
          "targets": {
            "browsers": ["safari >= 7", "ie >= 9"]
          }
        }
      ],
      "@babel/preset-react"
    ],
    "plugins": [
      "@babel/plugin-syntax-dynamic-import",
      ["@babel/plugin-transform-runtime", { "libraryName": "antd-mobile", "style": true }],
      "@babel/plugin-proposal-object-rest-spread",
      ["@babel/plugin-proposal-decorators",{"legacy": true}],
      "@babel/plugin-proposal-class-properties"
    ]
  }
  